---
layout: layouts/base.njk
title: HTMHell Advent Calendar 2024
seo_title: adventcalendar2024
description: An article, talk, or tool that focuses on HTML every day until Christmas.
nav_title: Advent Calendar
date: 2022-01-04
page__class: calendar
tags:
  mainnav
---

<h1>{{ title }}</h1>

<p>Ready for review Saptak and Karl: 5, 22</p>
<p>Ready for review Saptak: 9, 10, 14, 15, 16, 17, 18, 21, 23</p>

<p>Reviewed, waiting for authors response: 4, 6, 13, 19</p>
<p>Finished, ready for publication: 1, 2, 3, 7, 8</p>

<p>Not merged: 11, 12, 20, 24</p>

{% macro day(num) %}
  {% set days = collections.advent2024 %}
  <li {% if days[num - 1].data.active %}data-day="{{ num }}"{% endif %} {% if num === 24 %}style="grid-column: span 2"{% endif %}>
    <div class="acalendar__number">
      <span aria-hidden="true">{{ num }}</span><a {% if days[num - 1].data.active %}href="/adventcalendar/2024/{{ num }}"{% endif %}>{{ num }}</a>
    </div>

    <div class="acalendar__title">
      {% if days[num - 1].data.active %}
      <a href="/adventcalendar/2024/{{ num }}">
        {{ days[num - 1].data.title | safe }}
      </a>
      by {{ days[num - 1].data.author }}
      {% else %}  
      ???
      {% endif %}  
    </div>
  </li>
{% endmacro %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap&text=1234567890" rel="stylesheet"> 

<p>
  In 2022, I launched the <strong>HTMHell Advent Calendar</strong>, which was a great success. Since then twenty-four authors worldwide contribute fantastic articles on security, accessibility, UX, and performance every year. 
</p>

<p>
  Starting December 1st, I'll publish them one by one every day.
</p>

<fieldset class="acalendar-view">
  <legend>View</legend>
  <p>
    <button aria-pressed="true" data-view="calendar">Calendar</button>
    <button aria-pressed="false" data-view="title">Title</button>
  </p>
</fieldset>

<div class="preview">
<ol class="acalendar acalendar--calendar">
  {{ day(1) }}
  {{ day(2) }}
  {{ day(3) }}
  {{ day(4) }}
  {{ day(5) }}
  {{ day(6) }}
  {{ day(7) }}
  {{ day(8) }}
  {{ day(9) }}
  {{ day(10) }}
  {{ day(11) }}
  {{ day(12) }}
  {{ day(13) }}
  {{ day(14) }}
  {{ day(15) }}
  {{ day(16) }}
  {{ day(17) }}
  {{ day(18) }}
  {{ day(19) }}
  {{ day(20) }}
  {{ day(21) }}
  {{ day(22) }}
  {{ day(23) }}
  {{ day(24) }}
</ol>
</div>

<script>
  const preview = document.querySelector('.acalendar-view');
  const calendar = document.querySelector('.acalendar')
  preview.addEventListener('click', e => {
    const clicked = e.target.closest('button')
    if (clicked) {
      updateView(clicked.dataset.view, clicked);
      localStorage.setItem('html_calendar24view', clicked.dataset.view)
    }
  })

  const updateView = (type, button) => {
    const active = preview.querySelector('[aria-pressed="true"]')
    active.setAttribute('aria-pressed', false)
    button.setAttribute('aria-pressed', true)
    
    calendar.classList = `acalendar acalendar--${type}`
  }

  if (localStorage.getItem('html_calendar24view')) {
    const type = localStorage.getItem('html_calendar24view')
    updateView(type, document.querySelector(`button[data-view="${type}"]`))
  }

</script>

<p>
  You can check out last year's posts or the first unofficial calendar, which only links to existing articles on other sites.
</p>

<p>
    <a href="/adventcalendar/2022">
      HTMHell Advent calendar 2022
    </a>
    <br>
    <a href="/adventcalendar/2021">
      HTMHell Advent calendar 2021
    </a>
</p>


<script>
  var opened = localStorage.getItem('html_opened23') ? JSON.parse(localStorage.getItem('html_opened23')) : [];

  setTimeout(() => {
    if (opened.length) {
      for (let i = 0; i < opened.length; i++) {
        if (document.querySelector(`[data-day="${opened[i]}"]`)) {
          document.querySelector(`[data-day="${opened[i]}"]`).classList.add('opened')
        }
      }
    }
  }, 700);

  document.querySelector('.acalendar').addEventListener('click', e => {
    if (e.target.closest('li').dataset.day) {
      if (opened.indexOf(e.target.closest('li').dataset.day) < 0) {
        opened.push(e.target.closest('li').dataset.day)
        localStorage.setItem('html_opened23', JSON.stringify(opened))
      }
    }
  });
  function lob(e){if(codes.push(e.key),codes.length>3&&(codes=codes.slice(1)),3===codes.length&&"6"===codes[0]&&"6"===codes[1]&&"6"===codes[2]){const e=document.createElement("link");e.href="https://fonts.googleapis.com/css2?family=Lobster&family=UnifrakturCook:wght@700&display=swap",e.rel="stylesheet",document.head.appendChild(e),document.body.classList.add("beauty"),document.removeEventListener("keydown",lob)}}var codes=[];document.addEventListener("keydown",lob);  
</script>

{# <p>Hello, my dear friends of high-quality markup!</p> #}
{# 
<p>
  We're getting closer to the last quarter of 2024, which means that the HTMHell Advent Calendar is getting closer, too. Last year, once again, you contributed fantastic articles about security, accessibility, UX, and performance. Thanks a lot! You made me proud and the readers happy because they immensely enjoyed your content. 
</p>

<p>
  We want to do it again, but it's a bit different this year! Instead of a full-length article, I'd love to see <strong>your favorite code snippet in HTML</strong> and a few words explaining what you like about it. Any piece of HTML code you love or recently discovered that improves accessibility, performance, security, SEO, or UX qualifies. This time, we also return to the core idea of HTMHell: you can share horrible code, too, but only if you explain what's wrong with it and offer alternatives.
</p>

<p>
  Starting December 1st, I'll publish your snippets on htmhell.dev every day until Christmas. You can contribute one (or multiple) of these 24 posts. Please submit your name, e-mail address, working title of the blog post, and a short description by October 9th. I'll notify you on October 11th if your idea is selected. You have time to write it until October 30th. We'll review it as soon as possible and send you feedback.
</p>

<p>
  Use <a href="https://docs.google.com/forms/d/e/1FAIpQLSc60hfylY8cS1Z06R-7fU0qksf_yz0NEvqLQdTPaEtqP3kH2w/viewform?usp=sf_link">this form</a> to submit your ideas or send me an email (<a href="mailto:manuel@matuzo.at">manuel@matuzo.at</a>).
</p>

<h2>Deadlines</h2>

<p>
  Submission deadline idea: October 9th.<br>
  Submission deadline snippet: October 30th.
</p>

<p>
  The deadlines are tight, but you don't have to write a full-length article this time, so it should be doable. Still, I have to be very strict with the deadlines. If you don't deliver by October 30th, I'll pick someone else. Please submit only an article if you know that you will be able to meet the deadline. If, for some reason, you can't meet it, it's okay. Please just let me know in time.
</p>

<h2>Topics</h2>

<p>It'd be great if your snippets cover as many different aspects of HTML as possible:</p>

<ul>
  <li>Accessibility</li>
  <li>Performance</li>
  <li>SEO</li>
  <li>Usability</li>
  <li>Progressive Enhancement</li>
  <li>Security</li>
  <li>Best practices</li>
</ul>

<p>
  It's also okay if there is some CSS and JavaScript here and there. Most importantly, you should describe why the code you share is useful and how it benefits users.
</p>

<p>
  Beginners are very welcome! If this is your first time writing, don't hesitate to submit an idea. I will support you!
</p>
<p>
Please don't submit existing articles that have been published elsewhere. We're looking for new content, but you can also use existing content if you look at it from a different angle or emphasize different aspects.
</p>

<h2>Reviewers</h2>

<p>
Reviewing 24 articles about HTML is fun but also a lot of work. Eric and Saptak were so friendly in helping me out last year. I still need someone to help me in 2024. If that's you, please get in touch!
</p>
<p>
Do you have any questions? Ask Manuel (<a href="mailto:manuel@matuzo.at">manuel@matuzo.at</a>).
</p>
<p>
See you in HTMHell,<br>
Manuel 🖤
</p> #}
