---
layout: layouts/base.njk
title: HTMHell Advent Calendar 2024
seo_title: adventcalendar2024
description: An article, talk, or tool that focuses on HTML every day until Christmas.
nav_title: Advent Calendar
date: 2022-01-04
page__class: calendar
tags:
  mainnav
---

<h1>{{ title }}</h1>

<p>Starting December 1st, I'll publish a blog post about HTML every day until Christmas.</p>

{# <p>Hello, my dear friends of high-quality markup!</p> #}
{# 
<p>
  We're getting closer to the last quarter of 2024, which means that the HTMHell Advent Calendar is getting closer, too. Last year, once again, you contributed fantastic articles about security, accessibility, UX, and performance. Thanks a lot! You made me proud and the readers happy because they immensely enjoyed your content. 
</p>

<p>
  We want to do it again, but it's a bit different this year! Instead of a full-length article, I'd love to see <strong>your favorite code snippet in HTML</strong> and a few words explaining what you like about it. Any piece of HTML code you love or recently discovered that improves accessibility, performance, security, SEO, or UX qualifies. This time, we also return to the core idea of HTMHell: you can share horrible code, too, but only if you explain what's wrong with it and offer alternatives.
</p>

<p>
  Starting December 1st, I'll publish your snippets on htmhell.dev every day until Christmas. You can contribute one (or multiple) of these 24 posts. Please submit your name, e-mail address, working title of the blog post, and a short description by October 9th. I'll notify you on October 11th if your idea is selected. You have time to write it until October 30th. We'll review it as soon as possible and send you feedback.
</p>

<p>
  Use <a href="https://docs.google.com/forms/d/e/1FAIpQLSc60hfylY8cS1Z06R-7fU0qksf_yz0NEvqLQdTPaEtqP3kH2w/viewform?usp=sf_link">this form</a> to submit your ideas or send me an email (<a href="mailto:manuel@matuzo.at">manuel@matuzo.at</a>).
</p>

<h2>Deadlines</h2>

<p>
  Submission deadline idea: October 9th.<br>
  Submission deadline snippet: October 30th.
</p>

<p>
  The deadlines are tight, but you don't have to write a full-length article this time, so it should be doable. Still, I have to be very strict with the deadlines. If you don't deliver by October 30th, I'll pick someone else. Please submit only an article if you know that you will be able to meet the deadline. If, for some reason, you can't meet it, it's okay. Please just let me know in time.
</p>

<h2>Topics</h2>

<p>It'd be great if your snippets cover as many different aspects of HTML as possible:</p>

<ul>
  <li>Accessibility</li>
  <li>Performance</li>
  <li>SEO</li>
  <li>Usability</li>
  <li>Progressive Enhancement</li>
  <li>Security</li>
  <li>Best practices</li>
</ul>

<p>
  It's also okay if there is some CSS and JavaScript here and there. Most importantly, you should describe why the code you share is useful and how it benefits users.
</p>

<p>
  Beginners are very welcome! If this is your first time writing, don't hesitate to submit an idea. I will support you!
</p>
<p>
Please don't submit existing articles that have been published elsewhere. We're looking for new content, but you can also use existing content if you look at it from a different angle or emphasize different aspects.
</p>

<h2>Reviewers</h2>

<p>
Reviewing 24 articles about HTML is fun but also a lot of work. Eric and Saptak were so friendly in helping me out last year. I still need someone to help me in 2024. If that's you, please get in touch!
</p>
<p>
Do you have any questions? Ask Manuel (<a href="mailto:manuel@matuzo.at">manuel@matuzo.at</a>).
</p>
<p>
See you in HTMHell,<br>
Manuel 🖤
</p> #}
