<!DOCTYPE html>
<html lang="en" class="{{ page__class }}">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% if title %}{{ title }} - {%endif%}{{ hell.site_title }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d72b2b">
    <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="HTMHell">
    <link type="application/atom+xml" rel="alternate" href="/feed_tips.xml" title="HTMHell tips">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Search Engine -->
    <meta name="description" content="{{ description or hell.site_description }}">
    {% set image_path = seo_title or title %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if title %}{{ title }} - {%endif%}{{ hell.site_title }}">
    <meta name="twitter:description" content="{{ description or hell.site_description }}">
    <meta name="twitter:site" content="@mmatuzo">
    <meta name="twitter:creator" content="@mmatuzo">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="{% if title %}{{ title }} - {%endif%}{{ hell.site_title }}">
    <meta property="og:description" content="{{ description or hell.site_description }}">
    <meta property="twitter:image" content="{{ hell.site_url }}/images/og/{{ image_path | slug }}.png?s=011221">
    <meta property="og:image" content="{{ hell.site_url }}/images/og/{{ image_path | slug }}.png?s=011221">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:site_name" content="{% if title %}{{ title }} - {%endif%}{{ hell.site_title }}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">

    {% if hell.env == 'development' %}
      <link rel="stylesheet" href="/assets/prism.css" />
      <link rel="stylesheet" href="/assets/style.css" />
    {% else %}
      <link rel="stylesheet" href="/assets/min/style.min.css?hvala=sime" />
      {# <script>
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker.register("/service-worker.js");
        }
      </script>  #}
    {% endif %}
    <link rel="stylesheet" href="/assets/print.css" media="print" />
</head>
<body>
  <div class="wrapper">
    <header class="site-header">
      <a href="#content" class="skip-link">Skip to content</a>
      <nav class="nav" aria-label="Main">
        <ol class="nav__items">
          {% for item in collections.mainnav %}
            <li class="nav__item"><a href="{{ item.url }}" class="nav__link" {% if item.url === page.url or (item.url !== '/' and item.url in page.url)  %}aria-current="page"{% endif %}>{{ item.data.nav_title }}</a></li>
          {% endfor %}
          <li class="nav__item">{% include "twitter_link.njk" %}</li>
          <li class="nav__item">
            <a href="/" class="site-logo-link">
              {% include "logo.njk" %}
            </a>
          </li>
        </ol>
      </nav>
    </header>

    <main class="site-content" id="content">
      {{ content | safe }}
    </main>

    <footer class="site-footer">
      built with <a href="https://www.11ty.dev/" rel="noopener">eleventy</a> and ❤️ in Vienna by <a href="https://twitter.com/mmatuzo" rel="noopener">@mmatuzo</a><br>
      <nav aria-label="Secondary">
        <ol class="nav-footer">
          {% for page in collections.footernav %}
            <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
          {% endfor %}
          <li><a href="https://github.com/matuzo/HTMHell" rel="noopener">Github</a></li>
          <li><a href="{{ hell.site_url }}/feed.xml">Feed</a></li>
        </ol>
      </nav>
    </footer>
  </div>

  {% if hell.env == 'development' %}
    <script src="/assets/focus-visible.js"></script>
    <script src="/assets/script.js"></script>
  {% else %}
    <script src="/assets/min/script.min.js"></script>
  {% endif %}
</body>
</html>
