<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{ hell.site_title }}{% if title %} - {{ title }}{%endif%}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d72b2b">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Search Engine -->
    <meta name="description" content="{{ hell.site_description }}">
    <meta name="image" content="{{ hell.site_url }}/images/og/{{ title | slug }}.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ hell.site_title }}{% if title %} - {{ title }}{%endif%}">
    <meta itemprop="description" content="{{ hell.site_description }}">
    <meta itemprop="image" content="{{ hell.site_url }}/images/og/{{ title | slug }}.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ hell.site_title }}{% if title %} - {{ title }}{%endif%}">
    <meta name="twitter:description" content="{{ hell.site_description }}">
    <meta name="twitter:site" content="@mmatuzo">
    <meta name="twitter:creator" content="@mmatuzo">
    <meta name="twitter:image:src" content="{{ hell.site_url }}/images/og/{{ title | slug }}.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta property="og:title" content="{{ hell.site_title }}{% if title %} - {{ title }}{%endif%}">
    <meta property="og:description" content="{{ hell.site_description }}">
    <meta property="og:image" content="{{ hell.site_url }}/images/og/{{ title | slug }}.png">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ hell.site_title }}{% if title %} - {{ title }}{%endif%}">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">

    {% if hell.env == 'development' %}
      <link rel="stylesheet" href="/assets/prism.css" />
      <link rel="stylesheet" href="/assets/style.css" />
    {% else %}
      <link rel="stylesheet" href="/assets/min/style.min.css" />
    {% endif %}
</head>
<body>
  <header class="site-header">
    <a href="/" class="site-logo-link">
      {% include "logo.njk" %}
    </a>
    <a href="{{ hell.site_url }}/feed.xml" class="site-rss">RSS</a>
  </header>

  <main class="site-content">
    {{ content | safe }}
  </main>

  <footer class="site-footer">
    curated by <a href="https://twitter.com/mmatuzo">@mmatuzo</a>
  </footer>
  
  {% if hell.env == 'development' %}
    <script src="/assets/script.js"></script>
  {% else %}
    <script src="/assets/min/script.min.js"></script>
  {% endif %}
</body>
</html>
