---
layout: layouts/base.njk
og_image: {{ title | slug }}
---

<div class="entry-header">
  <h1 class="entry-heading">{{ title }}</h1>
  submitted on <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time> by {% author author %}
</div>

<div class="entry">
  {{ content | safe }}
</div>

{% set currentItemIndex = 0 %}

{% for item in collections.entries %}
  {% if item.url == page.url %}
    {% set currentItemIndex = loop.index0 %}
  {% endif %}
{% endfor %}

{% set prevItemIndex = currentItemIndex - 1 %}
{% set nextItemIndex = currentItemIndex + 1 %}

<nav aria-label="Select next or previous entry">
  <ol class="pagination pagination--next-prev">
    {% if prevItemIndex >= 0 %}
      {% set prev = collections.entries[prevItemIndex] %}
      <li class="pagination__item">
        <a class="pagination__link" href="{{ prev.url }}">Previous</a>
      </li>
    {% endif %}

    {% if nextItemIndex < collections.entries.length %}
      {% set next = collections.entries[nextItemIndex] %}
      <li class="pagination__item">
        <a class="pagination__link" href="{{ next.url }}">Next</a>
      </li>
    {% endif %}
  </ol>
</nav>
