---
layout: layouts/base.njk
permalink: /tips/{{ title | slug }}/index.html
page__class: heaven
---

<div class="preview">
  <p>
    <strong class="h1">HTML Tips & Tricks</strong> We publish an HTML tip or trick every week on <a href="/tips">the tips page</a>, on our <a href="/feed_tips.xml">RSS</a> feed or directly delivered to your inbox via our <a href="/newsletter#signup">newsletter</a>. 
  </p>
</div>

<div class="preview">
  <h1>{{ title }}</h1>

  {{ content | safe }}

  {% if resources %}
    <h3>Resources</h3>

    <ul>
    {% for link in resources %}
      
      <li>
        <a href="{{ link.url }}">
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>

<h2>Did you enjoy this tip?</h2>

<p>Sign up for the HTMHell newsletter and receive an HTML tip or trick every week via e-mail.</p>

{% include 'newsletter_form.njk' %}
