---
permalink: feed_advent.xml
metadata:
  title: HTMHell Advent Calendar 2023
  url: https://htmhell.dev/adventcalendar
  author:
    name: Manuel Matuzovic
    email: manuel@matuzo.at
  feed:
    subtitle: The HTMHell 2023 advent calendar.
    filename: feed_advent.xml
    path: feed/feed_advent.xml
    url: https://htmhell.dev/feed_advent.xml
    id: https://htmhell.dev/adventcalendar
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.entries | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.advent2023 | reverse %}
  {% if post.data.active %}
    
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">by {{post.data.author }}&lt;br&gt,{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {% endif %}
  {%- endfor %}
</feed>
