---
layout: layouts/base.njk
title: Markup from hell
---
<h1 class="u-hidden">{{ title }}</h1>

<p class="site-intro">
  {{ hell.site_description }}
</p>

{% set entries = collections.entries %}
{% include "entries.njk" %}
