---
layout: layouts/base.njk
title: Markup from hell
pagination:
  data: collections.entries
  size: 5
  alias: submissions
  reverse: true
---
<h1 class="u-hidden">{{ title }}</h1>

<p class="site-intro">
  {{ hell.site_description }}
</p>

{% set entries = submissions %}
{% include "entries.njk" %}
