---
layout: layouts/base.njk
title: HTMHell Newsletter
description: Sign up for the HTMHell newsletter and receive an HTML tip or trick every week via e-mail.
nav_title: Newsletter
tags:
  mainnav
date: 2021-01-03
page__class: heaven
---

<h1>HTMHell Newsletter</h1>

<div class="preview">
  <p>
    HTMHell isn’t just about bad practices, we also have good practices to share with you. We publish an HTML tip or trick every week on <a href="/tips">the Tips page</a>, via <a href="/feed_tips.xml">RSS</a> or directly delivered to your inbox via our newsletter. 
  </p>
</div>

<div class="preview">
  <h2 id="signup">Newsletter Sign-up</h2>

  <p>
    You’ll receive an e-mail every week containing quick advice for writing semantic HTML. Occasionally we might also inform you about new features on the website, but that shouldn’t happen too often, because I’m really lazy.
  </p>

  {% include 'newsletter_form.njk' %}
  
</div>
