---
layout: layouts/base.njk
title: HTMHell Newsletter
nav_title: Newsletter
tags:
  mainnav
---

<h1>HTMHell Newsletter</h1>

<div class="preview">
  <p>
    HTMHell isn’t just about bad practices, we also have good practices to share with you. We publish an HTML tip or trick every two weeks on <a href="/tips">the Tips page</a>, via <a href="/feed_tips.xml">RSS</a> or directly delivered to your inbox via our newsletter. 
  </p>
</div>

<div class="preview">
  <h2>Newsletter Sign-up</h2>

  <p>
    You’ll receive an e-mail every two weeks containing quick advice for writing semantic HTML. Occasionally we might also inform you about new features on the website, but that shouldn’t happen too often, because I’m really lazy.
  </p>

<form
  action="https://buttondown.email/api/emails/embed-subscribe/htmhell"
  method="post"
>
  <p>
    <label for="bd-email">Your email</label>
    <input type="email" name="email" id="bd-email" />
  </p>

  <input type="hidden" value="1" name="embed" />
	<button type="submit">Subscribe</button>
</form>
  
</div>
