---
layout: layouts/base.njk
title: HTML Tips
nav_title: Tips
tags:
  mainnav
---

<h1>HTML Tips</h1>

<ol class="u-list-reset">
{% for tip in collections.tips %}
  {% if tip.data.processed %}
    <li>
    <h2>Issue #{{ loop.index }} - {{ tip.data.title }}</h2>

    {{ tip.templateContent | safe }}

    {% if tip.data.resources %}
      <h3>Resources</h3>

      <ul>
      {% for link in tip.data.resources %}
        
        <li>
          <a href="{{ link.url }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
    </li>
  {% endif %}
{% endfor %}
</div>
</ol>
