---
layout: layouts/base.njk
title: HTML Tips & Tricks
nav_title: 'Heaven'
tags:
  mainnav
---

<h1>{{ title }}</h1>

<ol class="u-list-reset">
{% for tip in collections.tips | reverse %}
  {% if tip.data.processed %}
    <li class="preview">
      <h2>Issue #{{ loop.revindex0 }} - {{ tip.data.title }}</h2>

      {{ tip.templateContent | teaser | safe }}

      <a href="{{ tip.url }}">
        Continue reading Issue #{{ loop.revindex0 }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</div>
</ol>
