---
layout: layouts/base.njk
title: HTML Tips & Tricks
description: HTML tips, tricks, and best practices.
nav_title: 'Heaven'
tags:
  mainnav
date: 2021-01-02
page__class: heaven
---

<h1>{{ title }}</h1>

<div class="preview">
  <p>
    We publish an HTML tip or trick every week on this page, on our <a href="/feed_tips.xml">RSS</a> feed or directly delivered to your inbox via our <a href="/newsletter#signup">newsletter</a>. 
  </p>
</div>

<ol class="u-list-reset">
{% for tip in collections.tips | reverse %}
  {% if tip.data.processed %}
    <li class="preview">
      <h2>Issue #{{ tip.data.issue }} - {{ tip.data.title }}</h2>

      {{ tip.templateContent | teaser | safe }}

      <a href="{{ tip.url }}">
        Continue reading Issue #{{ loop.revindex0 }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ol>

<h2>Do you like what you’re reading?</h2>

<p>Sign up for the HTMHell newsletter and receive an HTML tip or trick every week via e-mail.</p>

{% include 'newsletter_form.njk' %}
