<ol class="previews">
  {% for post in entries | reverse %}
    <li class="preview">
      <div class="preview__header">
        <h2 class="preview__heading">
          <a href="{{ post.url | url }}" class="">
            {{ post.data.title }}
          </a>
        </h2>

        submitted on <time class="" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time> by {% author post.data.author %}
      </div>

      {% highlight "html" %}
        {{ post.data.badcode | pretty | safe }}
      {% endhighlight %}
        
    </li>
  {% endfor %}
</ol>
