<form
  action="https://buttondown.email/api/emails/embed-subscribe/htmhell"
  method="post"
>
  <p>
    <label for="bd-email">Your email</label>
    <input type="email" name="email" id="bd-email" />
  </p>

  <input type="hidden" value="1" name="embed" />
  <button type="submit">Subscribe</button>
</form>
