/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #000;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.8;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	display: block;
	font-size: 1.4rem;
}

@media (min-width: 768px) {
	code[class*="language-"],
	pre[class*="language-"] {
		font-size: 1.5rem;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
	border-radius: 0;
	border: 6px solid	#000;
	position: relative;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background:	#fff;
	font-size: 1.7rem;
	font-weight: bold;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #737373;
}

.token.punctuation {
	color: #000;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #924a4a;
}

.token.boolean,
.token.number {
	color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #d72b2b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #497c7c;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #000000;
}

.token.keyword {
	color: #00e0e0;
}

.token.regex,
.token.important {
	color: #ffd700;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

@media screen and (-ms-high-contrast: active) {
	code[class*="language-"],
	pre[class*="language-"] {
		color: windowText;
		background: window;
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: window;
	}

	.token.important {
		background: highlight;
		color: window;
		font-weight: normal;
	}

	.token.atrule,
	.token.attr-value,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.selector {
		font-weight: bold;
	}

	.token.attr-value,
	.token.comment,
	.token.doctype,
	.token.function,
	.token.keyword,
	.token.operator,
	.token.property,
	.token.string {
		color: highlight;
	}

	.token.attr-value,
	.token.url {
		font-weight: normal;
	}
}

@media (prefers-color-scheme: dark) {
	code[class*="language-"],
	pre[class*="language-"] {
		color: #dedede;
	}

	/* Code blocks */
	pre[class*="language-"] {
		border-color: #dedede;
	}

	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background:	#000000;
	}

	.token.property,
	.token.tag,
	.token.constant,
	.token.symbol,
	.token.deleted {
		color: #e85f5f;
	}

	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted {
		color: #dedede;
	}

	.token.punctuation {
		color: #dedede;
	}

	.token.atrule,
	.token.attr-value,
	.token.function {
		color: #d79d9d;
	}

	.token.keyword {
		color: #ffffff;
	}

	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string,
	.token.variable {
		color: #7fb5b5;
	}
}

pre.language-css::before,
pre.language-html::before {
	content: "HTML";
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	color: #fff;
	padding: 0.3rem 0.1rem 0.4rem 0.5rem;
	font-size: 1.4rem;
	line-height: 1;
}

pre.language-css::before {
	content: "CSS";
}