/* Base */

 * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  line-height: 1.6;
  max-width: 104rem;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  body {
    font-size: 1.9rem;
    line-height: 1.8;
  }
}

h2 {
  margin: 0 0 1.6rem;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-bottom: 1.6rem;;
}

p {
  margin: 0 0 2.4rem;
}

a:link {
  color: #d72b2b;
}

a:visited {
  color: #a83636;
}

a:hover {
  text-decoration: none;
}

/* Helper */

.u-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.site-header {
  left: 0;
  top: 0;
  height: 23rem;
  padding-top: 2rem;
}


@media (min-width: 768px) {
  .site-header {
    position: sticky;
    height: 39rem;
  }
}

.site-intro {
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  max-width: 36ch;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .site-intro {
    margin-bottom: 4.8rem;
  }
}

/* Logo */

.site-logo {
  transform: translateX(-50%) rotate(360deg);
  position: relative;

  transition: left 0.3s, transform 0.7s, width 0.6s;
  left: 50%;
}

@media (prefers-reduced-motion: reduce) {
  .site-logo {
    transition: none;
  }
}

@media (min-width: 768px) {
  .site--scrolled .site-logo {
    left: 0;
    transform: none;
    width: 100px;
  }
}


.site-logo__title,
.site-logo__items {
  transition: opacity 1s;
}

.site--scrolled .site-logo__title,
.site--scrolled .site-logo__items {
  opacity: 0;
}

@media (min-width: 768px) {
  .site-logo {
    width: 360px;
  }
}

/* Content */
.site-content {
  padding: 0 20px;
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .site-content {
    padding-left: 130px;
    padding-right: 130px;
  }
}

/* Previews */
.preview {
  margin-bottom: 4.2rem;
}

.preview__header {
  margin-bottom: 2.4rem;
}

.preview__heading {
  margin-bottom: 0;
}

/* Footer */
.site-footer {
  margin: 4.8rem 2rem 2rem;
  max-width: 74rem;
}

@media (min-width: 768px) {
  .site-footer {
    margin-left: auto;
    margin-right: auto;
  }
}
/* Section */

.section {
  margin-bottom: 3.2rem;
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 4.6rem;
  }
}
