/* Base */

 * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 768px) {
  body {
    font-size: 1.9rem;
    line-height: 1.8;
  }
}

h1 {
  color: #d72b2b;
  margin-top: 0;
  font-size: 2.8rem;
  line-height: 1.2;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  margin: 0 0 1.6rem;
  font-size: 2.6rem;
}

ol {
  padding-left: 3rem;
}

@media (min-width: 768px) {
  ol {
    padding-left: 4rem;
  }
}

li {
  margin-bottom: 1.6rem;;
}

p, pre, blockquote {
  margin: 0 0 2.4rem;
}

a:link {
  color: #d72b2b;
}

a:visited {
  color: #a83636;
}

a:hover {
  text-decoration: none;
}

blockquote {
  font-size: 2.3rem;
  margin-bottom: 0;
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.js-focus-visible .focus-visible {
  outline: 5px solid #a83636;
}

button {
  font-size: 1.6rem;
  padding: 0.6rem 1.3rem;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
}

kbd,
code {
	background:#000;
	color:#fff;
	padding: 0.2rem 0.3rem 0.3rem;
	border-radius: 0.2rem;
	display: inline-block;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	line-height: 1;
	font-size: 1.5rem;
}

kbd {
	background:#545454;
	color:#fff;
}

blockquote {
  font-style: italic;
}

/* Helper */

.u-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.u-list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Header */

.site-header {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  position: relative;
}


@media (min-width: 768px) {
  .site-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.site-intro {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.5;
  max-width: 36ch;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .site-intro {
    margin-bottom: 5.6rem;
  }
}

@media (min-width: 1024px) {
  .site-intro {
    max-width: 100%;
  }
}

/* Nav */

.nav {
  max-width: 74rem;
  margin: 0 auto;
}

.nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav__item {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0 1.6rem 3rem 0;
}

.nav__item:last-child {
  flex-basis: 100%;
  margin: 0;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
}

.nav__link.focus-visible,
.nav__link:hover {
  color: #000000;
}

@media (min-width: 410px) {
  .nav__item {
    margin-left: 0.5rem;
  }
}

@media (min-width: 768px) {
  .nav__item {
    margin-bottom: 5rem;
  }
}

@media (min-width: 800px) {
  .nav__item {
    margin-right: 0;
    margin-left: 2.5rem;
  }
}

.site-twitter {
  display: inline-block;
}

.site-twitter svg {
  fill: currentColor;
  height: 33px;
  vertical-align: middle;
  padding-bottom: 5px;
}

.site-twitter:link,
.site-twitter:visited {
  color: #000;
}

.site-twitter:focus,
.site-twitter:hover {
  color: #d72b2b;
}

/* Logo */

.site-logo-link {
  transform: translateX(-50%) rotate(360deg);
  position: relative;
  left: 50%;
  display: inline-block;
}

.site-logo {
  display: none;
}

@supports(display: grid) {
  .site-logo {
    display: block;
  }
}

.site-logo__666 {
  transition: opacity 0.3s ease-in, fill 0.6s ease-in;
  fill: #d72b2b;
  opacity: 0;
}

.site--loaded .site-logo__666 {
  opacity: 1;
  fill: #000;
}

.site--loaded .site-logo__1 {
  transition-delay: 0.3s;
}

.site--loaded .site-logo__2 {
  transition-delay: 0.5s;

}

.site--loaded .site-logo__3 {
  transition-delay: 0.7s;
}

.site--loaded .site-logo__4 {
  transition-delay: .9s;
}

.site--loaded .site-logo__5 {
  transition-delay: 1.3s;
}

.site-logo polygon {
  fill: #d72b2b;
}

.site-logo:hover polygon {
  fill: #000000;
}

@media (min-width: 768px) {
  .site-logo {
    height: 27.4rem;
  }
}

/* Content */
.site-content {
  padding: 0 2rem;
  max-width: 100rem;
  margin: 0 auto;
  position: relative;
  display: block;
}

@media (min-width: 768px) {
  .site-content {
    padding: 1.9rem 13rem 0;
  }
}

/* Previews */
.preview {
  padding-bottom: 4rem;
}


.preview:not(:last-child) {
  background: url('/assets/pentagramm.svg') center bottom no-repeat;
  background-size: auto;
  background-size: 40px;
  margin-bottom: 3.6rem;
  padding-bottom: 7rem;
}

.preview__header {
  margin-bottom: 2.4rem;
}

.preview__heading {
  margin-bottom: 0;
  line-height: 1.5;
}

/* Footer */
.site-footer {
  margin: 4.8rem 2rem 2rem;
  max-width: 74rem;
}

@media (min-width: 768px) {
  .site-footer {
    margin-left: auto;
    margin-right: auto;
  }
}
/* Section */

.section {
  margin-bottom: 3.2rem;
}

@media (min-width: 768px) {
  .section {
    margin-bottom: 4.6rem;
  }
}

/* Entry */

.entry {
  position: relative;
}

.entry-header {
  margin-bottom: 2.4rem;
}

.entry-heading {
  margin-bottom: 0;
}

.entry li::marker {
  content: "🔥\00a0";
  font-size: 2.6rem;
}

/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__item {
  margin-right: 1.6rem;
}

.pagination__link {
  min-width: 5rem;
  height: 5rem;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0 1rem;
}

.pagination__link:link,
.pagination__link:visited {
  color: #d72b2b;
  text-decoration: none;
}

.pagination__link[aria-current="page"] {
  font-weight: bold;
  color: #000000;
}

.pagination__link:hover {
  background: #000000;
  color: #FFFFFF;
}


/* Bad code only for og image screenshots */
.screenshot {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenshot body {
  width: 100%;
  max-width: 110rem;
}

.screenshot h1,
.screenshot h2,
.screenshot .section:not(.bad),
.screenshot .section > p,
.screenshot footer,
.screenshot .entry-header,
.screenshot header,
.screenshot nav,
.screenshot .topbanner,
pre.language-css::before,
pre.language-html::before {
  display: none !important;
}

.screenshot pre[class*="language-"] {
  white-space: normal !important;
  max-height: 550px;
  overflow: auto;
  margin: 0;
}

.screenshot .bad {
  margin-bottom: 0;
}

.screenshot .bad > *:not(.language-html) {
  display: none;
}

.screenshot .site-content {
  padding: 0;
  max-width: 100%;
}

.screenshot code {
  font-size: 2.4rem;
}

.readmore {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #dedede;
  }

  kbd,
  code {
    background:#dedede;
    color:#000000;
  }

  kbd {
    background:#545454;
    color:#fff;
  }

  button {
    border: 1px solid #fff;
    background: #000;
    color: #fff;
  }

  .site--loaded .site-logo__666 {
    fill: #ffffff;
  }

  .site-logo:hover polygon {
    fill: #ffffff;
  }

  .site-logo__circle {
    fill: #ffffff;
  }

  .nav__link.focus-visible,
  .nav__link:hover {
    color: #FFFFFF;
  }

  .site-twitter:not(:hover):link,
  .site-twitter:not(:hover):visited {
    color: #dedede;
  }

  .preview:not(:last-child) {
    background-image: url('/assets/pentagramm-light.svg');
  }

  .pagination__link {
    border-color: #dedede;
  }

  .pagination__link:link,
  .pagination__link:visited {
    color: #dc6565;
  }

  .pagination__link[aria-current="page"] {
    color: #dedede;
  }

  .pagination__link:hover {
    background: #FFFFFF;
    color: #000000;
  }

  a:visited {
    color: #dc6565;
  }
}

/* Video */

.video {
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.page-nav {
  border-top: 1px solid #000;
  margin: 0;
  padding: 2.4rem 0 0;
  list-style: none;
  justify-content: space-between;
}

.page-nav__item {
  flex: 0 0 50%;
  line-height: 1.3;
}

.page-nav__item--next:first-child {
  margin-left: auto;
}

.page-nav__link {
  display: block;
  font-weight: bold;
  background: url('/assets/pentagramm.svg') top 8px left no-repeat;
  background-size: auto;
  background-size: 40px;
  padding-top: 7px;
  min-height: 50px;
}

@media (prefers-color-scheme: dark) {
  .page-nav__link {
    background-image: url('/assets/pentagramm-light.svg');
  }
}

.page-nav__link:hover {
  text-decoration: none;
}

.page-nav__link--prev {
  padding-left: 57px;
}

.page-nav__link--next {
  margin-bottom: 0;
  text-align: right;
  background-position: top 8px right;
  padding-right: 57px; 
}

.page-nav__label {
  font-weight: 400;
  font-size: 1.7rem;
}

@media (min-width: 940px) {
  .page-nav {
    display: flex;
  }

  .page-nav__link {
    font-size: 2rem;
    padding-top: 4px;
  }

  .page-nav__link--prev {
    padding-right: 20px;
  }

  .page-nav__link--next {
    padding-left : 20px;
  }
}

.code_wrapper {
  position: relative;
}

.skip-link {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #000000;
  padding: 1.5rem 2rem 1.2rem;
  border: 5px solid #000000;
  font-weight: bold;
  line-height: 1;
}

.skip-link--inline {
  padding: 0.5rem;
  font-size: 1.7rem;
  top: 6px;
  transform: translateY(-100%);
  left: 0;
}

.skip-link:not(:focus) {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%); 
  margin: -1px;
}

.skip-link:link,
.skip-link:visited {
  color: #ffffff;
  text-decoration: none;
}


.topbanner {
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
}

.topbanner p {
  margin: 0;
}

.topbanner a:hover,
.topbanner a:focus {
  text-decoration: underline;
}

.topbanner .wrapper {
  padding: 0 2rem;
  text-align: center;
}

.wrapper {
  max-width: 104rem;
  width: 100%;
  margin: 0 auto;
}

