---
title: "The tabindex attribute"
permalink: /tips/{{ title | slug }}/index.html
layout: layouts/tip.njk
processed: true
description: "You can debug accessibility features of HTML elements using DevTools in Firefox, Chrome, and Edge."
issue: 20
tags:
  - tips
  - tip_input
element: input
date: 2021-01-20
resources:
  - title: "Accessibility In Chrome DevTools"
    url: https://www.smashingmagazine.com/2020/08/accessibility-chrome-devtools/
  - title: "Understand Website Accessibility with the Firefox Accessibility Inspector"
    url: https://www.youtube.com/watch?v=7mqqgIxX_NU
---

<p>
  You can use the <code>tabindex</code> attribute to make elements that can't receive focus focusable, or to change the tab order of elements in a page.
</p>

<!-- teaser -->


{% highlight "html" %}
<div tabindex="-1" aria-label="Sign up" role="dialog" aria-modal="true">
  …
</div>
{% endhighlight %}

<h2>Negative value</h2>

<p>
  The tabindex attribute is useful when you want to put focus on an element that isn’t focusable by default. A typical use case is a modal component where you put focus on the whole dialog when the user clicks/taps/activates the button that opens it.
</p>


{% highlight "javascript" %}
const button = document.querySelector('button');
const modal =  document.querySelector('[role="dialog"]');

button.addEventListener('click', () => {
  …
  modal.focus();
  …
})
{% endhighlight %}

<p>
  In order for <code>focus()</code> to work on a <code>div</code>, we have to add it to the tab order by applying the <code>tabindex</code> attribute.
</p>

{% highlight "html" %}
<div tabindex="-1" aria-label="Sign up" role="dialog" aria-modal="true">
  …
</div>
{% endhighlight %}



<p>
  What’s special about the negative value is that the element is focusable via JavaScript or by clicking it, but it’s not tabbable, so you can’t focus it using the keyboard or a <a href="https://www.youtube.com/watch?v=V1yoOLhx_qA">switch device</a>.
</p>

<h2>0 value</h2>

{% highlight "html" %}
<div class="tabs">
  <div role="tablist" aria-label="Entertainment">
    <button type="button" role="tab" aria-selected="true" aria-controls="tab1">Graph</button>
    <button type="button" role="tab" aria-selected="false" aria-controls="tab2" tabindex="-1">Table</button>
  </div>

  <div tabindex="0" role="tabpanel" id="tab">…</div>
  <div tabindex="0" role="tabpanel" id="tab" hidden>…</div>
</div>
{% endhighlight %}

<p>If you click the following button and then press the <kbd>Tab</kbd> key, you'll see how the focus jumps from the button to the second paragraph.</p>

<p><button>I'm a button</button></p>
<p>I'm a paragraph</p>
<p tabindex="0">I'm a paragraph with tabindex="0"</p>

<h2>Positive value</h2>


<p class="u-df u-gs">
  <button tabindex="1">Start here</button> 
  <button tabindex="4">I'm next</button> 
  <button tabindex="3">No, I'm next</button> 
  <button tabindex="2">No, I'm next</button>
</p>


<!-- teaser -->

https://www.tpgi.com/using-the-tabindex-attribute/
https://bitsofco.de/how-and-when-to-use-the-tabindex-attribute/
https://www.a11yproject.com/posts/2021-01-28-how-to-use-the-tabindex-attribute/
https://www.barrierefreies-webdesign.de/knowhow/tabindex/werte-fuer-tabindex.html
https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex
