---
title: the current page
layout: layouts/tip.njk
issue: 4
processed: true
description: "Use the aria-current attribute to highlight the current page in a navigation, both visually and semantically."
tags:
  - tips
  - tip_a
element: a
resources:
  - title: Aditus - aria-current
    url: https://www.aditus.io/aria/aria-current/
  - title: Using the aria-current attribute by Léonie Watson
    url: https://tink.uk/using-the-aria-current-attribute
  - title: aria-current (state)
    url: https://www.w3.org/TR/wai-aria-1.1/#aria-current
date: 2021-06-25
---
<p>
  Use the <code>aria-current</code> attribute to highlight the current page in a navigation, both visually and semantically.
</p>

{% highlight "html" %}
<nav>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/about-us" aria-current="page">About us</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
{% endhighlight %}

<!-- teaser -->

<p>
  If you use a class like <code>.active</code> to highlight the current page within a set of links, only sighted users will be hinted at which page is the current page.
</p>

{% highlight "html" %}
<nav>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/about-us" class="active">About us</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
{% endhighlight %}

{% highlight "css" %}
.active {
  font-weight: bold;
}
{% endhighlight %}

<p>
  Instead of a simple class, you can use the <code>aria-current</code> attribute with the <code>page</code> value. The attribute communicates the active page to assistive technology and you can use it to select the link in CSS.
</p>

{% highlight "html" %}
<nav>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/about-us" aria-current="page">About us</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
{% endhighlight %}

{% highlight "css" %}
[aria-current="page"] {
  font-weight: bold;
}
{% endhighlight %}

<p id="demo">
  Here's a quick demo of this pattern used with TalkBack on Android. (Heads up! The recorded audio is pretty loud, sorry.)
</p>

<video src="/images/ariacurrent.mp4" controls width="200">
  <p>Something went wrong, please visit <a href="https://htmhell.dev/tips/the-current-page/">htmhell.dev/tips/the-current-page</a> to view this video.
</video>

<p>
  There are more usages for the <code>aria-current</code> attribute. Check out the links below to learn more.
</p>
