---
title: "4"
layout: layouts/advent.md
url: https://
author: ""
author_web: https://
active: false
date: 2021-12-11
tags: advent2021
---
 - title: "How A Screen Reader User Surfs The Web"
    url: https://www.youtube.com/watch?v=OUDV1gqs9GA
    author: "Leonié Watson & Bruce Lawson"
    active: false