---
title: "4"
layout: layouts/advent.md
url: https://
author: ""
author_web: https://
active: false
date: 2021-12-16
tags: advent2021
---
  - title: "HTML: The Inaccessible Parts"
    url: https://daverupert.com/2020/02/html-the-inaccessible-parts/
    author: "Dave Rupert"
    active: false