---
title: "On the &lt;dl&gt;"
layout: layouts/advent.md
url: https://benmyers.dev/blog/on-the-dl/
author: "Ben Myers"
author_web: https://benmyers.dev/
active: false
date: 2021-12-03
tags: advent2021
---

I love it when authors dive deep into a specific topic, and if the topic happens to be an HTML element, I love it even more. Ben Myers explains in his article why they believe that the `<dl>` element is underrated.