---
title: "Semantics and How to Get Them Right - beyond tellerrand Düsseldorf 2021"
layout: layouts/advent.md
url: https://www.youtube.com/watch?v=YG9WQUfH7ZU
author: "Hidde de Vries"
author_web: https://hiddedevries.nl/en/
active: false
date: 2021-12-06
tags: advent2021
---

In this talk at Beyond Tellerrand, Hidde dives into the meaning of semantics, how it improves your site, specific gotchas and the future.