---
title: "4"
layout: layouts/advent.md
url: https://
author: ""
author_web: https://
active: false
date: 2021-12-07
tags: advent2021
---

  - title: "Accessibility of the section element"
    url: https://www.scottohara.me/blog/2021/07/16/section.html
    author: "Scott O'Hara"
    active: false

